:root {
    --ac-text: 6d3dcf;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navpanel {
    display: flex;
    padding: 8px;
    border-radius: 0 0 4px 4px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 16px);
    position: sticky;
    backdrop-filter: blur(20px);
}

.content {
    margin: 8px;
    display: flex;
    justify-content: center;
    padding: var(--ds);
}

.leftnav {
    display: flex;
    gap: 8px;
}

.rightnav {
    display: flex;
    gap: 8px;
}

.navbtn {
    padding: 8px;
    border-radius: 8px;
    color: white;
    cursor: pointer
}

.accountico{
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 40%;
}

.leaderstable {
}

.list-table img {
    width: 25px;
    height: 25px;
}

a {
    text-decoration: none;
    color: #2f4ee8;
}

.langbtn {
    height: 100%;
}

#eventsCount {
    border-radius: var(--br);
    width: 20px;
    height: calc(20px - 5px);
    padding: 0;
    padding-top: 5px;
    margin-left: 5px;
    font-size: 10px;
}

#eventsCount.active {
    background-color: #ff6a0067;
}

.squareMedal {
    background-image: url(../img/background.svg);
    background-size: 100%;
    max-height: 25px;
}

.squareMedal.winner {
    background-image: url(../img/award/background/winner.png);
}
.squareMedal.strongDefender {
    background-image: url(../img/award/background/shield.png);
}
.squareMedal.greatPower {
    background-image: url(../img/award/background/great.png);
}
.squareMedal.winSide {
    background-image: url(../img/award/background/winSide.png);
}
.squareMedal.none {
    background: none;
}

table {
  width: 100% !important;
  border-collapse: collapse !important;
}

td {
  vertical-align: top !important;
}

td div {
  display: inline-block !important;
  max-width: 100% !important;
  word-wrap: break-word !important;
  box-sizing: border-box !important;
}

#langDropdown img {
	width: 35px;
}

.list-container#leadertable {
    padding: 0;
}

#fromWhereInfo {
    padding: var(--ds);
    margin: var(--dss) 0;
    background-color: var(--bg-sec-great);
    border-radius: var(--br);

    button {
        border-radius: var(--br);
        background-color: var(--bg-pri-great);
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        height: calc(24px + 8px * 2);
        transition: var(--tr-in);

        &:hover {
            background-color: var(--bg-sec-hover);
        }

        img {
            width: 100%;
            height: 100%;
        }
        .imgcont {
            width: 0;
            height: 0;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.active {
            border-radius: var(--brs);
            background: linear-gradient(135deg, #0f4569, #518eb6, #1993e5);

            &.saturn {
                background: linear-gradient(135deg, #3e0f69, #8551b6, #9719e5);
            }
            &.nwf {
                background: linear-gradient(135deg, #690f0f, #b65151, #e51919);
            }

            .imgcont {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.awardslist {
    flex-direction: column;
    gap: 0.5rem;

    .didAwards {
        padding: 0.5rem;
        background-color: var(--bg-pri);
        border-radius: var(--br);
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        width: 100%;
    }
}