#content {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.page {
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: translateX(40px);
    transition:
        transform 0.35s cubic-bezier(0.2,0,0,1),
        opacity 0.25s ease;
    pointer-events: none;
    
    &.active {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
        z-index: 2;
        padding-left: var(--ds) !important;
    }

    /* уходящая */
    &.leave-left {
        transform: translateX(-40px);
        opacity: 0;
    }
    &.leave-right {
        transform: translateX(40px);
        opacity: 0;
    }

    /* твой blur */
    &:not(.active) {
        filter: blur(5px);
    }
}

#content.modal-open .page.active, #navdown.modal-open {
    @media (orientation: portrait) {
        filter: blur(3px) saturate(120%) brightness(50%);
    }
}


.page-header {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: max(5px, 40dvh);
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 2rem;
        color: var(--text-pri);
    }
    h3 {
        font-size: 1rem;
        color: var(--text-sec);
        font-weight: 300;
    }

    h1, h2, h3, h4, p, span, b {
        margin: 0;
    }
}

.page-header-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    padding: var(--ds) 0;
    background-color: var(--bg-pri-great);

    button {
        border: none;
        background: none;
    }
    
    .navRightMore {
        position: absolute;
        top: 3rem;
        right: var(--dss);
        display: none;
        padding: var(--dss);
        border-radius: var(--br);
        background-color: var(--bg-sec-great);
        min-width: 0;
        min-height: 0;
        width: 0;
        height: 0;
        transition: all var(--tr-in);

        &.active {
            display: inline-flex;
            min-width: 200px;
            height: max-content;
        }
    }

    .topNav {
        width: 100%;
        display: inline-flex;
        max-width: 100%;
        height: max-content;
        overflow-x: auto;
        overflow-y: hidden;
        gap: var(--dss);

        button {
            padding: var(--dss);
            background-color: var(--bg-sec);

            &.active {
                background-color: var(--ac-bg);
            }
        }
    }
}

@media (min-width: 769px) {
#content.two {
    .page.right {
        min-width: 0;
        width: 0;
        overflow-x: hidden;
    }

    .page.active {
        width: calc(40% - 2 * var(--ds));

        &.right {
            width: calc(60% - 2 * var(--ds));
            inset: unset;
            overflow-x: unset;
            right: 0;
        }
    }
}
}